#Publicacion{

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background-color: beige;
padding: 2%;
margin-left: 35%;
margin-right: 35%;
font-family: 'Mulish', sans-serif;


}

#comentario{

    margin: 10px;
    width: 100%;
    font-family: 'Mulish', sans-serif;

}

.generalComponent{

display: flex;
margin-left: 35%;
margin-right: 35%;
margin-top: 2%;
padding-bottom: 0.3%;
border-radius: 10px;
flex-direction: column;
justify-content: center;
align-items: center;
background-color: #9dd9d2;
;


}

.post{

    margin-top: 10px;

}

#publicar{

    height: 30px;
    border-radius: 6px;
    border-style: none;
    background-color:#392f5a;
    color: white;
    font-family: 'Mulish', sans-serif;



}

.inputComment{


    background-color: white;
    margin-top: 20px;
    height: 25px;
    width: 81%;
    border-radius: 6px;
    border: 1px solid #392f5a;
    font-family: 'Mulish', sans-serif;
}

.buttonComment{

    height: 30px;
    margin-left: 2px;
    border-radius: 6px;
    border-style: none;
    background-color:#392f5a;
    color: white;
    font-family: 'Mulish', sans-serif;
    



    
}

.componentComment{
    background-color: rgba(230, 230, 230, 0.705);
    width: 100%;
    margin-top: px;
    font-family: 'Mulish', sans-serif;
    border-top:1px solid #392f5a;


}

.nombrePost{

    background-color: cornsilk;
    padding-left: 46%;
    padding-right: 46%;
    margin-top: 0.5%;
    border-radius: 2px;
    font-family: 'Mulish', sans-serif;



}

#name{

    height: 25px;
    width: 100%;
    border-radius: 6px;
    margin-bottom: 20px;
    border: 1px solid #392f5a;


}